.map{
    position: relative;
    z-index: 1;
}
.cart{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 100px;
    left: 80%;
}
.search{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 35%;
}
.list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 5%;
}
.creation_cart{
    display: inline-block;
    grid-template-columns: repeat(5, 1fr);
}